/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%;
}

.input {
	background-color: white;
	resize:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#input {
	background-color: white;
	resize:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
}

.bulle-guest {
	width: 50%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	background-color: #f2f2f8;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.bulle-grandpy {
	width: 50%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	background-color: #325de0;
	color: white;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#chat, #form {
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 10px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  background-color: #89c3e8;
  height: 100%;
  margin: 0;
  padding: 0;
}

