/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%;
}

#input {
	background-color: white;
}

#log {
	border-style: solid;
	width: 400px;
	height: 50px;
}

#chat {
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  background-color: #89c3e8;
  height: 100%;
  margin: 0;
  padding: 0;
}

