<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Papy-bot UI</title>
	 <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chatbox.css') }}"/>
</head>
<body>
	<div class="container">
		<div class="chat">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<img class="pp" src="{{ url_for('static', filename='img/arrow.jpg') }}"/>
						<img class="pp" src="{{ url_for('static', filename='img/grandpy.jpg') }}"/>
						<h2>Grandpy</h2>
						<span>online</span>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
			<div class="chat-box">
				<div class="chat-r">
					<div class="mess mess-r">
						<p>
							{{ say }}
						</p>
						<div class="check">
							<span>{{ time }}</span>
							<img src="{{ url_for('static', filename='img/grandpy.jpg') }}" alt="">
						</div>	
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
						<p>
							Oh! hi
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="{{ url_for('static', filename='img/grandpy.jpg') }}" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="chat-footer">
				<img class="emo" src="{{ url_for('static', filename='img/emoji.jpg') }}"/>
				<img class="send" src="{{ url_for('static', filename='img/send.png') }}"/>
				<textarea id="text-msg" placeholder="Type a message"></textarea>
			</div>
			<script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}"></script>	
		</div>
	</div>
	<div id="map"></div>
	<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPVY4xR4HORtJ25RoIVU3ztlJt_uzvprQ&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>