<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div id="papy">{{ catch_phrase }}</div>
	<div id="guest">
		<form id="form">
    		<label>
    			<input id="input" type="text" value="say : ">
    		</label>
    		<button id="submit" type="submit">send</button>
 		</form>
 	</div>
 	<div id="map"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJkQv_luEG06kd1L_ssrPAGsIi5-JLLwI&callback=initMap&libraries=&v=weekly" async></script>
</body>
</html>