<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
	<div id="guest">
		<form id="form">
    		<label>
    			<input id="input" type="text">
    		</label>
    		<button id="submit" type="submit">send</button>
 		</form>
 	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}"></script>
</body>
</html>